@page
@model PatientSystem.Pages.Proffesionalz.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Professional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Professional.Name" class="control-label"></label>
                <input asp-for="Professional.Name" class="form-control" />
                <span asp-validation-for="Professional.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Email" class="control-label"></label>
                <input asp-for="Professional.Email" class="form-control" />
                <span asp-validation-for="Professional.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Professional.PasswordHash" class="control-label"></label>
                <input asp-for="Professional.PasswordHash" class="form-control" />
                <span asp-validation-for="Professional.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Specialization" class="control-label"></label>
                <input asp-for="Professional.Specialization" class="form-control" />
                <span asp-validation-for="Professional.Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
